################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eBIT Application/.vs/eBIT Application/FileContentIndex/e623be95-79b5-4d35-bfdd-af03fe9065c8.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/read.lock
/eBIT Application/.vs/eBIT Application/FileContentIndex/e94f8c7f-bb2a-4760-b2aa-84efdc6410b7.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/707dc259-bd25-431e-89c9-20ac8596270e.vsidx
/eBIT Application/.vs/eBIT Application/v17
/.gitignore
/eBIT Application/.vs/eBIT Application/FileContentIndex/a0d128cc-c699-45e9-b0a3-4e3996b33710.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/a89537db-a0f2-432a-b854-aa506a69183d.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/c56b38e5-c5ec-4e15-8432-a2c0040d3fbd.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/c809b872-a0b1-4a98-af5b-081f31ee30ec.vsidx
/eBIT Application/eBIT Application/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/eBIT Application/.vs/eBIT Application/FileContentIndex/20de88b5-6da0-4561-a756-d00403d2494d.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/a3f82e20-abbe-458c-a888-36b0c0411f5a.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/f90c729b-27fb-44f5-b380-5fba090c9786.vsidx
/.vs/VSWorkspaceState.json
/eBIT Application/.vs/eBIT Application/FileContentIndex/37126f96-2a4c-42b3-9efb-7c9248cd2529.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/4525c6cc-9eed-4459-9749-b93d902dbd7c.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/6a6c48cf-86d8-4842-8d4e-9bc3833bfeb9.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/ad2fb026-ff68-403b-80cb-e7217a3ece19.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/5b3bfe09-e6c9-4e34-b9fc-977c1d65f4a5.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/5d06c67c-606e-4c68-80d2-b85c624bd636.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/65ff9786-bdb6-45fd-9cf3-49da3eefd8a5.vsidx
/eBIT Application/.vs/eBIT Application/FileContentIndex/beec3a08-e6ab-4b0f-87ba-065b3f512870.vsidx
/eBIT Application/eBIT Application/Properties/DataSources
/eBIT Application/.vs/eBIT Application/FileContentIndex
/Purdue_Global_IT488_Group6-main/Purdue_Global_IT488_Group6-main/eBIT Application/.vs/eBIT Application
/Purdue_Global_IT488_Group6-main/Purdue_Global_IT488_Group6-main/eBIT Application/eBIT Application/obj
/.vs
/.gitignore
/eBIT Application/eBIT Application/eBIT_log.ldf
