################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/eBIT Application/.vs/eBIT Application
/eBIT Application/eBIT Application/eBIT_log.ldf
/eBIT Application/eBIT Application/eBIT_log.ldf
/eBIT Application/eBIT Application/eBIT_log.ldf
/eBIT Application/eBIT Application/eBIT.mdf
/Alter tables and add records.sql
/Create eBIT DB and Tables - Inventory and Orders.sql
/Create eBIT Users and Customer Tables.sql
